# Configurações do ambiente
MONGODB_URI=mongodb://127.0.0.1:27017/agendacar
PORT=4000

# Configurações de desenvolvimento
NODE_ENV=development

# Configurações futuras (quando implementar autenticação)
# JWT_SECRET=sua-chave-secreta-aqui
# JWT_EXPIRES_IN=7d